*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea

/app/src/androidTest/java/com/ctl/statusbar/ExampleInstrumentedTest.java
/status_bar/src/androidTest/java/com/ctl/status_bar/ExampleInstrumentedTest.java
/app/src/test/java/com/ctl/statusbar/ExampleUnitTest.java
/status_bar/src/test/java/com/ctl/status_bar/ExampleUnitTest.java
